.warna-body {
  background-image: url(asset/IBS\ 1.jpg);
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
}
.sidebar {
  height: 100%;
  box-shadow: 1px 1px 6px rgb(155, 195, 161);
}
.sidebar li .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
.sidebar .nav-link {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(6, 116, 21);
}
.sidebar .nav-link:hover {
  color: rgb(217, 163, 105);
}
.bg-sidebar {
  background-color: rgb(235, 250, 235, 0.7);
}
.hero {
  background-image: url(asset/bg2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 6px rgb(6, 116, 21);
}
.logo-rsi {
  height: 64px;
  width: 100px;
}
h2,
p {
  color: rgb(6, 116, 21);
  margin: 0;
}
h3,
h4 {
  color: rgb(7, 79, 42);
  margin: 0;
}
.logo-asuransi,
img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.5rem;
  margin: 0 0.5rem;
}
h5,
hr {
  color: rgb(7, 79, 42);
}
p {
  font-size: 14px;
}
.container img {
  width: 8vw;
  height: auto;
}
.bg-footer {
  background-color: rgb(6, 116, 21);
}
